.project:hover{
    box-shadow: 1px 1px 10px 2px #696767 !important;
	cursor: pointer;
	
}

.project {
	/* height: 76vh !important; */
	height: 70vh;
	/* margin-bottom: 2vh; */
	width: 100%;
	/* z-index: 2; */
}

h1,
h2,
h4,
p{
    /* font-size: 2.1vh; */
    /* color: black; */
    /* background-color: white;
    box-shadow: 1px 1px 2px 1px #888888; */
    /* width: 10vw; */
    /* margin-right: 10vw;
    margin-left: 10vw; */
    /* font-weight: bold; */
    text-shadow: 2px 2px 5px black;
    padding-right: 1%;
    padding-left: 1%;
}

.h4{
	margin-bottom: -2%;
	margin-right: 2%;
	margin-left: 2%;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 75vh;
}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	/* height: 100%; */
	/* height: 30vh !important; */
}

#front, #back {
	height: 30vh !important;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	/* box-shadow: 1px 1px 10px 2px #696767; */
}

.title{
	font-size: 4.5vh;
}

#aboutMe{
	text-align: center;
	text-shadow: none;
	font-family: "Minion";
	/* color: "white" !important; */
	margin-bottom: 4vh !important;
	margin-top: 23vh;
}

#myWork{
	text-align: center;
	text-shadow: none;
	font-family: "Minion";
	/* color: "white" !important; */
	margin-bottom: 8vh !important;
	/* margin-top: 10vh; */
	/* margin-bottom: 4vh; */
}

.skills{
	text-align: center;
	text-shadow: none;
	font-family: "Minion";
	/* color: "white" !important; */
	margin-bottom: 1vh;
	margin-top: 4vh;
	/* margin-bottom: 4vh; */
}

#profile{
	height: 100vh;
	/* background-color: blue; */
	border-bottom: 1px solid black;
}

#projects{
	height: 100vh;
	/* background-color: blue; */
	/* border-bottom: 1px solid black; */
	/* margin-bottom: 8vh; */
}

.title{
	text-align: center;
	text-shadow: none;
	font-family: "Minion";
	/* color: "white" !important; */
	margin-bottom: 3vh !important;
	/* margin-top: 23vh; */
}

.description{
	font-family: "Minion";
	padding-left: 3%;
}
.descriptionright{
	font-family: "Minion";
	padding-right: 3%;
}

#rightImg{
	/* margin-top: -30%; */
}

#projectRight{
	height: 70vh;
	/* margin-bottom: 2vh; */
	width: 46vw !important;
	/* margin-right: -50px !important; */
}

.firstProject{
	margin-top: 6vh;
}

.center{
	text-align: center;
}

@media only screen and (max-width: 769px){
	#aboutMe{
		margin-top: 4vh;
	}

	.description{
		display: inline-block;
	}

	#profileImg{
		margin-top: 16vh !important;
	}
}

@media only screen and (max-width: 415px){	
}

@media only screen and (max-width: 376px){
}

@media only screen and (max-width: 320px){

}