button{
    /* background: url('../../Images/gray.jpg'); */
    /* background-color: blue; */
    /* background-color: white; */
    background-image: linear-gradient(#3c3c3c 0,#222 100%) !important;
    font-Family: Minion;
    padding-top: -3% !important;
    padding-bottom: -3% !important;
    /* background-color: linear-gradie#3c3c3cc3c 0,#222 100%); */
    /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%) !important; */
}

button:hover{
    box-shadow: 1px 1px 10px 2px #363636 !important;
}