/* #navProfile:hover{
    box-shadow: 1px 1px 10px 2px #363636 !important;
}

#name{
    font-weight: normal;
} */

#navStyle{
    /* background-color: #f9f9f9 !important;
    background-image: none !important;
    border-top: none;
    border-right: none;
    border-radius: 0%;
    border-left: none; */
    /* padding-left: 0px; */
    /* color: black; */
    /* padding-right: 5% !important; */
}

/* .navstyle {
    background-image: none !important;
}

Navbar{
    background-color: blue !important;
} */
